.border{
    border: 2px solid black;
    margin: 2px;
}

.flex{
    display: flex;
}

.justify-item{
    justify-content: center;
}

.align-item{
    align-items: center;
}
.invert{
    filter: invert();
}

